{% extends 'myApp/base.html' %}

{% block content %}
    {% include 'myApp/partials/_navigation.html' %}
    {% include 'myApp/partials/_hero.html' %}
    {% include 'myApp/partials/_feature_strip.html' %}
    {% include 'myApp/partials/_testimonial_daniel.html' %}
    {% include 'myApp/partials/_lead_gen.html' %}
    {% include 'myApp/partials/_pain_point.html' %}
    {% include 'myApp/partials/_ai_concierge.html' %}
    {% include 'myApp/partials/_testimonials.html' %}
    {% include 'myApp/partials/_creative_studio.html' %}
    {% include 'myApp/partials/_pricing.html' %}
    {% include 'myApp/partials/_more_ai.html' %}
    {% include 'myApp/partials/_replace_tools.html' %}
    {% include 'myApp/partials/_support.html' %}
    {% include 'myApp/partials/_video_productions.html' %}
    {% include 'myApp/partials/_brand_management.html' %}
    {% include 'myApp/partials/_outreach.html' %}
    {% include 'myApp/partials/_three_reasons.html' %}
    {% include 'myApp/partials/_affiliate.html' %}
    {% include 'myApp/partials/_footer.html' %}
    {% include 'myApp/partials/_scripts.html' %}
{% endblock %}
